<mat-card>
  <form (ngSubmit)="onSave()" #FormsModule="ngForm">
    <div fxLayout="row" fxLayoutAlign="center start">
      <div class="input-box" fxLayout="column">

        <mat-form-field floatPlaceholder="auto">
          <input matInput [(ngModel)]="this.newContact.firstName" name="firstName" #firstName="ngModel" type="text" required placeholder="Name">
          <mat-error *ngIf="firstName.invalid">Please enter your firstname</mat-error>
        </mat-form-field>

        <mat-form-field floatPlaceholder="auto">
          <input matInput [(ngModel)]="this.newContact.lastName" name="lastName" #lastName="ngModel" type="text" required placeholder="Last Name">
          <mat-error *ngIf="numPhone.invalid">Please enter lastname</mat-error>
        </mat-form-field>

        <mat-form-field floatPlaceholder="auto">
          <input matInput [(ngModel)]="this.newContact.email" name="email" #email="ngModel" type="text" required placeholder="something@something.com">
          <mat-error *ngIf="numPhone.invalid">Please enter valid email</mat-error>
        </mat-form-field>

        <mat-form-field floatPlaceholder="auto">
            <input matInput [(ngModel)]="this.newContact.numPhone" name="numPhone" #numPhone="ngModel" type="tel" required placeholder="phone">
          <mat-error *ngIf="numPhone.invalid">Please enter valid phone number</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>

<button mat-fab (click)="onSave()" [disabled]="!FormsModule.form.valid" class="saveButton">
  <mat-icon>check</mat-icon>
</button>
